<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hot Restaurant</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h1>Hot Restaurant</h1>
      <h3>Book your seat before they are all gone!</h3>
      <hr>
      <a href="/view"><button class="btn btn-primary btn-lg"><span class="fa fa-plus"></span> View Tables</button></a>
      <a href="/reservation"><button class="btn btn-danger btn-lg"><span
            class="fa fa-eye"></span> Make Reservation</button></a>
    </div>
    <div class="row">

      <div class="col-12">
        <a href="/api/table">API Table Link</a><span> | </span>
        <a href="/api/wait">API Wait List</a>

      </div>
    </div>
  </div>

  <script type="text/javascript">
    $("#search-btn").on("click", function() {
      var searchedCharacter = $("#character-search").val().trim();

      // Using a RegEx Pattern to remove spaces from searchedCharacter
      // You can read more about RegEx Patterns later https://www.regexbuddy.com/regex.html
      searchedCharacter = searchedCharacter.replace(/\s+/g, "").toLowerCase();

      $.get("/api/characters/" + searchedCharacter, function(data) {
        console.log(data);
        if (data) {
          $("#stats").show();
          $("#name").text(data.name);
          $("#role").text(data.role);
          $("#age").text(data.age);
          $("#force-points").text(data.forcePoints);
        } else {
          $("#name").text(
            "The force is not strong with this one. Your character was not found.");
          $("#stats").hide();
        }
      });
    });

  </script>
</body>

</html>
